:root{
  --primary: #dbad52;
  --secundary: #171616;
}

body, html, #root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url('https://wallpaperaccess.com/full/908958.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth::before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.8);
}

.auth-title {
  color: var(--secundary);
  font-weight: 700;
  text-transform: uppercase;
}

.auth-logo {
  width: 70px;
  margin: auto;
}

.auth-message {
  display: none;
  margin: 10px 0px 1rem;
  text-align: left;
  font-size: 0.8rem;
  color: rgb(114, 114, 114);
  padding-left: 10px;
  border-left: 4px solid;
}

.auth-message.active {
  display: block;
}

.auth-message.error {
  border-color: #a00;
}

.auth-message.success {
  border-color: #0a0;
}

.auth-message.warning {
  border-color: #fbff00;
}

.trash-icon {
  cursor: pointer;
}

.trash-icon:hover {
  color: #700;
}

.edit-icon {
  cursor: pointer;
}

.edit-icon:hover {
  color: #070;
}